footer {

    margin: 20px 0 0 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 227, 227);
    padding: 10px 10px;

}

footer p {
    color: white;
}

a:link{
    color: white;
    text-decoration:none;
}

a:visited{
    color: white;
}

a:active{
    color: orange !important;
}

a:hover{
    color: orange !important;
}

  