main {
    background-color: rgb(83, 118, 184);
    margin-top: 80px;
}

main {
    h1 {
        margin-left: 20px 20px;
    }
}

@font-face {
    font-family: letra;
    src: url(../Fuente/laserRodItalic.otf);
}

// BUCLE

@for $i from 1 to 5 {
    h#{$i} {
        font-size: 1em *$i;
    }
}

// EACH

@each $icono in facebook {
    .#{$icono}-icon{
        background-image: url(../img/#{$icono}.svg);
        width: 50;
        height: 50;
        background-size: 100%;
        list-style: none;
    
    }
}

h1 {
    font-family: letra;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 2rem;
    color: grey;
}

h2 {
    font-family: letra;
    font-size: 1.5rem;
    margin-left: 20px;
}

h3 {
    font-family: letra;
    font-size: 1.5rem;
    margin-left: 10px;
}

h4 {
    font-family: letra;
    font-size: 1.5rem;
    margin-left: 10px;
}

p {
    font-family: letra;
    font-size: 1rem;
    margin-left: 1.5rem;
    color: grey;
}


main {
    img {
        width: 215.7vh;
        width: 100%;
    }
}


main {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}

div {
    img {
        width: 100%;
    }

}

table {
    width: 100%;
}

main.img__imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 30px;
    margin-top: 30px;
}

@media only screen and (min-width:700px) {
    main.img__imagenes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;
    }
}

@media only screen and (min-width:1100px) {
    main.img__imagenes {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}


    
