nav.navIndex {
    margin-right: 12.4em;
}

div.navbar__right {
    display: flex;
    position: relative;
    font-size: 1rem;
    width: 77.6%;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin-right: 25px;
    border: solid 1px black ;
}